language: cpp
matrix:
  include:
  - os: linux
    dist: xenial
    jdk: openjdk8
    before_install:
    - vendors/fetch_centos6_sysroot.sh
    - prebuilts/fetch_prebuilts.sh
    script: travis_retry scripts/linux64.sh
  - os: linux
    dist: xenial
    jdk: openjdk8
    addons:
      apt:
        packages:
        - g++-multilib
    before_install:
    - vendors/fetch_centos6_sysroot.sh
    - prebuilts/fetch_prebuilts.sh
    script: travis_retry scripts/linux32.sh
  - os: osx
    osx_image: xcode9.3
    addons:
      homebrew:
        packages:
        - cmake
        update: true
    before_install:
    - prebuilts/fetch_prebuilts.sh
    script: travis_retry scripts/osx64.sh
  - os: windows
    before_install:
    - choco config set cacheLocation $HOME/cache/
    - choco install -y jdk8
    - choco install -y maven
    - prebuilts/fetch_prebuilts.sh
    script: travis_retry scripts/windows64.sh
  - os: windows
    before_install:
    - choco config set cacheLocation $HOME/cache/
    - choco install -y jdk8 --forcex86
    - choco install -y maven
    - prebuilts/fetch_prebuilts.sh
    script: travis_retry scripts/windows32.sh
cache:
  directories:
  - $HOME/cache/
deploy:
  provider: releases
  api_key:
    secure: WqWO/qLF0ozjaxgLzwlZ9jGpRdz0RRyxUJ8MQiTF688/Ggt70f9zzRawitOnCKFKKgBDhL8N2qgaUzE4ApIerWebwGFOeO9VWwx74ywd4JSGBPWQyU9En+Nd4YM11aJc6lQriRLmSaYVi1Apc1gLQkhD7SpW19m9NzYuMVLLrE09fZi/JB+pXdd+DuNBJy5gGTNr6Z7vt5izKs3O1cwFzf7rU7oGTlsiSKDq3CT/T191//uLxo7D/5XtAAdpbp/aXOYCLJCOfDGSqQl9Vjoa5jCrHfAuNy610SFkMBqOx/2zcaWjyt9T9TKMmWvnLVWSXzt7v9svcewJuWJQtGarBD4rJlEQYaI6AYG9yOJ5ubdCYPokb60sDZWiQZ1y0lfWOfWFlSkiZWKg9M0TrXUpfidnKa8TiHckl3YRRdoDiYh+6OIF8fPnAyScwbQ2D3U5Lx4w8Nzp3pr71eWguGt25uk9eHteuRHfryuFQMX4LVSpkDeWpYLLh8Hh5pjUCnhjOOKSSWJ10b9ubrXO8eGrH+3e0X2MZ1sH+nbiBoURiiAYiXB52EMeP8dU8LCf21Azil6/MJKLMvd0yaqvNb4gPKXlD4kzL7jFIsEhmxVSx1Cljg9Z9qXROeNq4K04TkO3pEfCKuDvt5dX6GHHWjqYaf3ok0AurEZJcuY/IOddzUE=
  file: dist/*
  file_glob: true
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
    repo: baidu-security/openrasp-v8